==
<div class="container">
                <div class="row">
                    
                    <div class="col-sm-3">
                        
                        <div class="counter">
                            
                            <div class="counter-value" data-value="400">
                            
                             
                            
                            </div>
                            
                                <span style='font-family: "Gotham Black", serif;
    font-size: 72px;
    color: #1e1a19;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;'>K</span>
                            
                            <div class="counter-details">
                                <h4>AVERAGE REACH FOR DIGITAL CAMPAIGN</h4>
                            </div><!-- counter-details -->
                            
                        </div><!-- counter -->
                    
                    </div><!-- col -->

                    <div class="col-sm-3">
                        
                        <div class="counter">
                            
                            <div class="counter-value more" data-value="200">+</div>
                            
                            <div class="counter-details">
                                <h4>COMPLETED EVENTS</h4>
                            </div><!-- counter-details -->
                            
                        </div><!-- counter -->
                    
                    </div><!-- col -->

                    <div class="col-sm-3">
                        
                        <div class="counter">
                            
                            <div class="counter-value" data-value="42"></div>
                            
                            <span style='font-family: "Gotham Black", serif;
    font-size: 72px;
    color: #1e1a19;
    margin-bottom: 45px;
    position: relative;
    display: inline-block;'>M</span>
                            
                            <div class="counter-details">
                                <h4>PR VALUE</h4>
                            </div><!-- counter-details -->
                            
                        </div><!-- counter -->
                    
                    </div><!-- col -->

                    <div class="col-sm-3">
                        
                        <div class="counter">
                            
                            <div class="counter-value more" data-value="80">+</div>
                            
                            <div class="counter-details">
                                <h4>HAPPY CUSTOMERS</h4>
                            </div><!-- counter-details -->
                            
                        </div><!-- counter -->
                    
                    </div><!-- col -->
                </div>
            </div>